body {
    font-family: "Open Sans", sans-serif;
}

h1, h3 {
    font-family: "Verdana", cursive;
    font-size: 40px;
}

h2 {
    font-family: "Lobster", cursive;
    font-size: 60px;
    color: #3046C5;
}

header h1, h2 {
    color: #020202;
}

.page-footer{
    background-image: linear-gradient(to right, #ffffff, #ffffff, #527c03f1);
    padding: 20px 0;


}

.jumbotron {
    margin: 0;    
    padding: 30px;
    background-image: linear-gradient(to right, #ffffff, #ffffff, #527c03f1);
    color: rgb(3, 3, 3);
}

.row-content {
    padding: 50px 0;
    border-bottom: 1px ridge;
    min-height: 200px;
}

.tab-content {
    border: 1px solid rgb(7, 7, 7);
    border-top: none;
    padding: 10px;
}


.nav-link {
    color: black!important;
    font-weight: bold; 
}


.carousel-indicators li {
        width: 20px;
        height: 20px;
        border-radius: 100%;
        background-color: green;
}


.carousel-control-prev-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23dd4' viewBox='0 0 8 8'%3E%3Cpath d='M5.25 0l-4 4 4 4 1.5-1.5-2.5-2.5 2.5-2.5-1.5-1.5z'/%3E%3C/svg%3E");
}

.carousel-control-next-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23dd4' viewBox='0 0 8 8'%3E%3Cpath d='M2.75 0l-1.5 1.5 2.5 2.5-2.5 2.5 1.5 1.5 4-4-4-4z'/%3E%3C/svg%3E");
}